.wrapper {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;
    transition: all 0.3s;
    background-color: white;
}
.changeBg {
    box-shadow: 0px 0px 2px 2px #00000013;
}
.inner {
    padding: 0 10px;
    height: 100%;
    width: 1200px;
    display: flex;
    align-items: center;
}

.logo-wrapper {
    display: flex;
}

.logo {
    height: 42px;
    object-fit: cover;
}
.nav-list {
    margin-left: 50px;
}
.nav-item {
    position: relative;
    font-size: 2rem;
    text-decoration: none;
    font-weight: 800;
    color: #333;
    padding: 10px 15px;
    transition: 0.3s all ease-in-out;
    border-radius: 5px;
    &:hover {
        color: #35b4ac;
    }
    &::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        width: 0;
        height: 1px;
        background-color: #35b4ac;
        transition: 0.2s all ease-in-out;
    }
    &:hover &::after {
        width: 100%;
    }
}
.nav-item.active {
    color: #35b4ac;
    &::after {
        width: 100%;
    }
}
